.comments{
    display: flex;
    align-items: center;
    /* flex-direction: column; */

    gap:1rem;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 25px;
    margin-bottom: 1rem;
}

.username{
    font-weight: bold;
}

.deleteButton{
    display: flex;
    justify-content: flex-end;
    width:100%;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
}

.button{

    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;

}

.deleteButton button{
    background-color: transparent;

    
    border-radius: 15px;
    padding:0.8rem;
    border:solid lightgray 1px;
}

