.ccButton {
 
    display: flex;
    justify-content: flex-end; 
  
}


.ccTextArea textarea{
    background-color: whitesmoke;
    width: 96%;
    border-radius: 25px;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    
    border:none;

    transition: transform 0.7s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), padding 0.5s ease;
    outline:none;
    font-size:0.9rem;
  
}



.ccButton button{
    padding: 0.8rem 1rem 0.8rem 1rem;

    border-radius: 20px;
    border: none;
    transition: transform 0.7s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ccButton button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}