#root {

  margin: 0 auto;
 
}

* {
  cursor: none; /* Hide the default cursor */
}

.cursor {
  background-color: rgb(0,0,0,0.7);
  width: 16px; /* Default size */
  height: 16px; /* Default size */
  border: solid lightgray;
  border-radius: 50%;
  position: fixed;
  pointer-events: none; /* Ensure the cursor doesn't block interactions */
  z-index: 9999; /* Ensure it appears above other elements if needed */
  transition: width 0.5s ease, height 0.3s ease, transform 0.3s ease; /* Smooth transition */
  transform: translate(-50%, -50%); /* Center the cursor */
  
}

.cursor.clicked {
  width: 32px; 
  height: 32px; 
}



button:hover{
  background-color: black;
}
